<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>

</head>

<body>
    {{>header}}
    <p>{{helpText}}</p>

    {{>footer}}
</body>

</html>